/**
 * _variables.scss
 */

$spacer: 1.1rem;

// Fonts
$font-family-sans-serif: "PT Serif";
$font-family-sans: "PT Serif";
$font-family-monospace: "Ubuntu Mono";

// Colors
$blue: #00b49d;
$yellow: #fdf499;
$secondary: $yellow;
$gray-900: #004b44;
$black: $gray-900;
$gray-100: #fbfcf2;
$warning: $yellow;
$footer-color: transparentize($black, .5);
$text-muted: #adb5bd;

// Other settings
$enable-rounded: false;

// Typography
$line-height-base: 1.6;
$headings-font-family: $font-family-monospace;
$display-line-height: .95;
// $headings-margin-bottom: 2*$spacer;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base * 1;
