
@import url("https://fonts.googleapis.com/css?family=PT+Serif|Ubuntu+Mono");

@include 'scss/_variables.scss';
@include 'scss/_typography.scss';

.navbar .clc-mark {
	position: fixed;
	top: 0;

	svg {
		height: 5em;
		path {
			fill: $gray-900;
		}
	}
}

#footer {
	$footer-color: transparentize($black, .5);
	color: $footer-color;
	font-family: $font-family-monospace;
	border-bottom: 10px solid $footer-color;

	a {
		color: transparentize($footer-color, .2);
	}

	.clc-mark {
		svg {
			height: 3.3em;
			position: relative;
			top: .2em;
			margin-left: -.3em;

			path {
				fill: $footer-color;
			}
		}
	}

}

.clc-name {
	font-family: $font-family-monospace;
		line-height: 1.2;
		display: inline-block;
	}

.navbar {
	background: $yellow;
}


@media (min-width: 992px){
    #sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}


.btn,
.badge {
	font-family: $font-family-monospace;
}



.person {
	// font-family: $font-family-monospace;
	.card-header {
	  background-color: $blue;
	  position: relative;
	  height: 50px;

	  .img {
	    filter: grayscale(100%); 
      mix-blend-mode: darken;
      
      height: 120px;
      width: 120px;
      background-size: cover;
	    background-position: center;
	    border-radius: 100%;
	    position: absolute;
	    margin-left: 0px;
  	  margin-top: -50px;
	  }
	}
}

.collaborators .person {
	.card-header {
		background: $yellow;
	}
}

.person.former-member .card-header {
	background: transparent;
}

.former-member {
	.period {
		color: $blue;
	}
}

.card-underline,
.card-underline.border-0 {
	border-bottom: 5px solid $blue!important;
}

.bibliography {
	padding-left: 0;

	li {
		list-style: none;
	}
}

#publications {
	min-height: 70vh;
}

.container.page {

}

.oi.hidden {
	visibility: hidden;
}

.btn .oi {
	margin-left: .2em;
	font-size: .8em;
}

.bib-entry.hidden {
	display: none;
}

#search-pubs {
	font-family: $font-family-monospace;
	color: $blue;
	border-color: $blue;
}

#footer {
	background: $yellow;
}

.clc-pattern {
	background: $yellow;

	pattern {
		fill: transparent;
	}
	
	@for $i from 1 through 1000 {
		pattern .clc-pattern-unit-letter:nth-of-type(#{$i}) {
			$opacity: 1 - random(30) / 100;
			fill: transparentize(#fff, $opacity);
		}
	}
}

#lab-intro {
	position: relative;

	.container {
		display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
	}

	.lead {
		max-width: 500px;
	}

	.clc-name {

	}
}

.bg-div {
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: -1;
}
