article {
	counter-reset: questioncounter assignmentcounter exercisecounter bonuscounter;
}

.exercise, 
.question,
.assignment,
.bonus,
.warning {
    border-top: 4px solid #000;
    // border-width: 1px;
    // border-style: solid;
    padding: .5rem 1rem;
    border-radius: 2px;
    margin: 1rem 0em;
}

.question {
    background-color: rgba(50, 150, 150, 0.2);
    border-color: rgba(50, 150, 150, 0.6);
}

.exercise {
background-color: rgba(0, 0, 0, 0.05);
border-color: rgba(0, 0, 0, 0.2);
}

.assignment {
background-color: rgba(200, 50, 50, 0.2);
border-color: rgba(200, 50, 50, 0.6);
}

.bonus {
background-color: rgba(250, 150, 50, 0.2);
border-color: rgba(250, 150, 50, 0.6);
}

.warning {
	background-color: rgba(200, 50, 50, 0.2);
	border-color: rgba(200, 50, 50, 0.6);
	color: rgba(200, 50, 50, 1);
}

.exercise:before,
.question:before,
.assignment:before,
.bonus:before {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1em;
}

.question:before {
    content: "Question " counter(questioncounter);
    counter-increment: questioncounter;
}

.exercise:before {
    content: "Exercise " counter(exercisecounter);
    counter-increment: exercisecounter;
}

.assignment:before {
    content: "Assignment " counter(assignmentcounter);
    counter-increment: assignmentcounter;
}

.bonus:before {
    content: "Bonus " counter(bonuscounter);
    counter-increment: bonuscounter;
}