---
layout: default
---

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3">
            <p class="brand text-primary">clc<em>labs</em></p>
            <p>A collection of computer labs used in courses by the <a href="#">clclab</a> at the University of Amsterdam</p>
            <p class="text-muted">Edited by Bas Cornelissen.</p>

        </div>
        <div class="col-lg-9">
            {% assign labs = site.labs | where: "published", "true" | where: "draft", "false" %}
            {% for lab in labs %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ lab.title }}</h5>
                        {% if lab.subtitle %}<h6 class="card-subtitle mb-2 text-muted">{{ lab.subtitle }}</h6>{% endif %}
                        <p class="card-text">{{ lab.excerpt }}</p>
                        <a href="{{ lab.url | prepend: site.baseurl }}" class="btn btn-primary card-link">Go to lab</a>
                        
                        <a href="{{ lab.url | replace: "html", "pdf" | prepend: site.baseurl }}" class="card-link"
                            target="_blank" title="PDF of '{{ page.title }}'">PDF</a>
                        <a href="{{ lab.url | replace: "html", "zip" | prepend: site.baseurl}}" class="card-link"
                            title="ZIP file with materials for lab '{{ lab.title }}'">Materials</a>
                    </div>
                </div>
            {% endfor %}

            <div class="card mb-3 text-muted">
                <div class="card-body">
                    <h5 class="card-title">Drafts</h5>
                    {% assign drafts = site.labs | where: "published", "true" | where: "draft", "true" %}
                    <ul>
                    {% for draft in drafts %}
                        <li><a href="{{ draft.url | prepend: site.baseurl}}" class="text-muted">{{draft.title}}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        
    </div>
</div>